.bottomPanel {
  position: fixed;
  bottom: 0;
  padding: 20px;
  background: #fff;
  border: 2px solid red;
  border-radius: 10px;
}

.bottomPanel.dark {
  background: #6a6a6a;
  color: #fff;
}

.bottomPanel p {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.bottomPanel button:last-child {
  margin-left: 20px;
}
